<!DOCTYPE html>
<html>
<head>
    <title>Casting Made Easy</title>
    <link rel="stylesheet" type="text/css" href="/static/thecss.css">
</head>
<body>
    <div>
        <img src="https://cdn.pixabay.com/photo/2020/07/09/09/31/line-art-children-5386523__480.png" />
         <p><a href="/login">Log In</a></p>
        <p><a href="/logout" id="logout">Log Out</a></p>
        <p>Let's cast the shit out of this bitch!</p>
        <button id="sick_button">Click here</button>
</body>
<script src="/static/thejavascript.js"></script>
</html>
